@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <p class="lead mt-3">@Model.Intro</p>
    <div class="mt-4 p-4 bg-light rounded-3">
        <h3>@Model.Tagline</h3>
    </div>
</div>