@model AboutViewModel

<div class="container">
    <h2>About Me</h2>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Background</h5>
            <p class="card-text">@Model.Background</p>

            <h5 class="card-title mt-4">Experience</h5>
            <p class="card-text">@Model.Experience</p>

            <h5 class="card-title mt-4">Goals</h5>
            <p class="card-text">@Model.Goals</p>
        </div>
    </div>
</div>